#nextpage {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../../static/background.png');
    background-size: 100vw 100vh;
}
#backbutton {
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 10%;
    height: 15%;
    width: 12%;
    background-image: url('../../static/backbutton.png');
    background-size: 100% 100%;
}
#monkey {
    position: absolute;
    left: 30%;
    top: 20%;
    height: 60%;
    width: 30%;
    background-image: url('../../static/monkey.png');
    background-size: 100% 100%;
}
#callout {
    position: absolute;
    left: 50%;
    top: 10%;
    width: 25%;
    height: 25%;
    background-image: url('../../static/callout.png');
    background-size: 100% 100%;
}
#nexttext {
    position: absolute;
    left: 12%;
    top: 20%;
    height: 30%;
    width: 65%;
    background-image: url('../../static/mozo.png');
    background-size: 100% 100%;
}
#banana {
    position: absolute;
    left: 72%;
    top: 20%;
    height: 40%;
    width: 25%;
    background-image: url('../../static/banana.png');
    background-size: 100% 100%;
}
#nextbutton {
    cursor: pointer;
    position: absolute;
    left: 70%;
    top: 70%;
    height: 15%;
    width: 15%;
    background-image: url('../../static/next.png');
    background-size: 100% 100%;
}
#settings {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 15%;
    width: 10%;
}
#smallellipse1 {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 20%;
    width: 10%;
    background-image: url('../../static/smallellipse.png');
    background-size: 100% 100%;
}
#wheel {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-image: url('../../static/wheel.png');
    background-size: 100% 100%;
    
}
#largeellipse1 {
    position: absolute;
    top: 0%;
    left: 85%;
    height: 40%;
    width: 20%;
    background-image: url('../../static/largeellipse.png');
    background-size: 100% 100%;
    
}
#star {
    position: absolute;
    top: 70%;
    left: 20%;
    height: 15%;
    width: 10%;
}
#smallellipse2 {
    position: absolute;
    top: 70%;
    left: 5%;
    height: 20%;
    width: 10%;
    background-image: url('../../static/smallellipse.png');
    background-size: 100% 100%;
}
#starsymbol {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-image: url('../../static/star.png');
    background-size: 100% 100%;
    
}
#largeellipse2 {
    position: absolute;
    top: 0%;
    left: 85%;
    height: 40%;
    width: 20%;
    background-image: url('../../static/largeellipse.png');
    background-size: 100% 100%;
    
}